.form__group {
  position: relative;
  padding: 1.5rem 0;
  width: 450px;
  min-width: 100%;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #2a2a2a;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.form__field:focus {
  ~ .form__label {
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #2a2a2a;
    font-weight: 700;
  }

  padding-bottom: 6px;
  border-width: 3px;
  border-color: #2a2a2a;
}
